.incrementer-container{
    display: grid;
    border-radius: 35px;
    box-shadow: 3px 3px 10px#a9a9a9;
    width: 50%;
    grid-template-columns: 20% 60% 20%;
    height: 30px;
}

.incrementer-container-active{
    display: grid;
    border-radius: 35px;
    box-shadow: 3px 3px 10px#a9a9a9;
    width: 50%;
    grid-template-columns: 20% 60% 20%;
    height: 30px;
    transform: scale(1);
    animation: pulseInc 3s infinite;
}

.decrement{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: rgb(255, 92, 92);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.increment{
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: rgba(0, 200, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

@keyframes pulseInc {
    0% {transform: scale(1);}
    50% {transform: scale(1.2);}
    100% {transform: scale(1);}
}

@keyframes pulsePlus {
    0% {transform: scale(1);}
    50% {transform: scale(2);}
    100% {transform: scale(1);}
}