.container{
    position: relative;
    text-align: center;
    color: rgb(255, 255, 255);
}

.landing-image{
    width: 100%;
    height: 100vh;

    /* position: relative; */
    /* z-index: 2; */
}

.landing-text {
    font-size: 105px;
}

.center-content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: ivory;
    align-items: center;
}