.server-signout{
    float:right;
    padding: 10px;
}

.server-checkout{
    float:right;
    width: 300px;
    padding: 10px;
}

.server-card-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 300px;
    border: 1px solid black;
    background-color: rgb(149, 149, 149);
    border-radius: 30px;
}
.server-card{
    margin: 20px;
}
