.topbar-container{
    height: 100px;
    display: grid;
    grid-template-columns: 10% 10% 65% 15%;
}
.topbar-logo-container{
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.topbar-logo{
    height: 100px;
    object-fit: scale-down;
    cursor: pointer;

    
}
.topbar-sign{
    color:rgba(0, 225, 255, 0.867);
    cursor:pointer
}
.topbar-items-container{
    display: grid;
    grid-template-columns: repeat(auto-fill, 20%);

}
.to-center{
    display:flex;
    justify-content: center;
    align-items: center;
}
.topbar-item{
    display: flex;
    justify-content: center;
    align-items: center;
}
.topbar-item:hover{
    background-color: rgb(172, 0, 0);
    color: white;
    cursor: pointer;
}
.active-topbar-item{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(172, 0, 0);
    color: white;
}
.sign-in{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    cursor: pointer;
}
