.topbar-container{
    height: 100px;
    display: grid;
    grid-template-columns: 10% 75% 15%;
    background-color: rgb(185, 0, 0);
    /* new edits below this line */
}
.topbar-logo-container{
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.topbar-logo{
    height: 80px;
    object-fit: scale-down;
    cursor: pointer;
}
.topbar-items-container{
    /*display: grid;
    grid-template-columns: repeat(auto-fill, 20%);*/
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: large;
    color: white;

}
.gui-view{
    display:flex;
    justify-content: center;
    align-items: center;
    color: gray;
}
/* moved the view to bottom left corner */
.gui-view h4{
    position:fixed;
    padding-bottom: 15px;
    padding-left: 20px;
    bottom: 0;
    left: 0;
}
.to-center{
    display:flex;
    justify-content: center;
    align-items: center;
}
.topbar-item{
    display: flex;
    justify-content: center;
    align-items: center;
}
.topbar-item:hover{
    color: rgb(0, 0, 0);
    cursor: pointer;
}
.active-topbar-item{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(185, 0, 0);
    color: white;
}
.sign-in{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    cursor: pointer;
    color: white;
}
.sign-in:hover{
    cursor: pointer;
    color: rgb(0, 0, 0);
}

.error-message{
    color:red
}