.topbar-container{
    height: 100px;
    display: grid;
    grid-template-columns: 10% 10% 65% 15%;
    background-color: rgb(201, 0, 0);
}
.topbar-logo-container{
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.topbar-logo{
    height: 80px;
    object-fit: scale-down;
    cursor: pointer;

    
}
.topbar-items-container{
    /*display: grid;
    grid-template-columns: repeat(auto-fill, 20%);*/
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: large;
    color: white;

}
.gui-view{
    display:flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.to-center{
    display:flex;
    justify-content: center;
    align-items: center;
}
.topbar-item{
    display: flex;
    justify-content: center;
    align-items: center;
}
.topbar-item:hover{
    background-color: rgb(172, 0, 0);
    color: rgb(160, 160, 160);
    cursor: pointer;
}
.active-topbar-item{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(172, 0, 0);
    color: white;
}
.sign-in{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    cursor: pointer;
    color: white;
}

